@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.frame {
    width: 100dvw;
    max-width: 1500px;
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.setting-table {
    border-collapse: collapse;
}

.setting-table th {
    font-weight: 300;
    background: #eee;
}

.setting-table th, td {
    border: 1px solid #bbb;
    padding: 5px;
}


.margin-top {
    margin-top: 10px;
}

.margin-left {
    margin-left: 10px;
}

.file-input {
    font-family: inherit;
    font-size: inherit;
}

.file-input::file-selector-button {
    padding: 4px 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875rem;
}

.file-input::before {
    font-family: inherit;
    font-size: inherit;
}

.button {
    padding: 4px 8px;
    font-family: inherit;
    font-size: 0.875rem;
}

.date-input{
    padding: 4px 8px;
    font-family: inherit;
    font-size: 0.875rem;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}